extends layout

block content
    div.container.pagination-centered
        h4#streamHeading Available Streams
        div#list.container.pagination-centered
    script(src='/scripts/underscore.js')
    script(src='/scripts/socket.io.js')
    script(src='/scripts/AvailableStreams.js')
