div.masthead
    a.brand(href="/")
        img(src='/images/logo.png')
    div.navbar
        div.navbar-inner
            div.container
                ul.nav
                    li
                        a(href="/StartStream")
                            | start a stream
                    li
                        a(href="/AvailableStreams")
                            | public streams