extends layout

block content
    div.span12
        div.jumbotron
            h1 Too cheap for Dropcam?
            p.lead Then Two Cent Security is for you! Start a stream from any webcam enabled modern browser(sorry IE8). Keep it private or make it public for increased awkwardness!
            a.btn.btn-large.btn-success(href="/StartStream") Start a chintzy stream